name: Build App
on:
  workflow_dispatch:
jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "18.18.2"
      - name: Setup OpenJDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"
      - name: NPM Install
        run: npm install
      - name: Build Android
        run: |
          chmod +x ./android/gradlew
          ./android/gradlew init
          ./android/gradlew assembleRelease
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          path: ./android/app/build/outputs/apk/app-release.apk
